{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "keyVaultName": {
            "value": "<KEY_VAULT_NAME>"
        },
        "objectId": {
            "value": "<OBJECT_ID>"
        },
        "identityId": {
            "value": "/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/certificate-rotation-demo/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<USERNAME>"  
        },
        "renewAtNumberOfDaysBeforeExpiry": {
            "value": 5
        }
    }
  }